[MAIN]
source-roots=backend

[TYPECHECK]
generated-members=alembic.context.*

[MESSAGES CONTROL]
disable=missing-module-docstring,missing-function-docstring,missing-class-docstring,missing-final-newline,line-too-long,trailing-whitespace,invalid-name,too-few-public-methods,wrong-import-order,import-outside-toplevel,logging-fstring-interpolation